<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class ="nav-bar"></div>

      <div class="cart">Cart({{ cart.length }})</div>
     
      <product-display :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeById"></product-display>
           
            <!--<ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size.size }}</li>
            </ul>-->
           <!-- <p v-if="onSale">On Sale</p>-->
          
            </div>  
      <!--Adding Component Steps
      1.) Create component.js file with component detail name ex: ProductDetails.js
      2.) at top of new .js file write the props of new component
      3.) copy code for that component into the js file and delete from index.html & main.js
      4.) anchor the new component to the main index.html using <script></script>-->   

    <!-- Import App -->
    <script src="./main.js"></script>
    <!--Import Product Display Component-->
    <script src="./components/ProductDisplay.js"></script>
    <!--Import Product Details Component -->
    <script src="./components/ProductDetails.js"></script>
 
    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
