<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class ="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>
     
      <product-display :premium="premium"></product-display>
      <product-display></product-display>
            <button
             class="button"
             :disabled="!inStock"
             :class="{ disabledButton: !inStock}"
             v-on:click="addToCart">
             Add to Cart
            </button>

            <button id = "removeButton"class="button"v-on:click="removeFromCart">Remove Item</button>
            <!--<ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size.size }}</li>
            </ul>-->
           <!-- <p v-if="onSale">On Sale</p>-->
          
            </div>  
         

    <!-- Import App -->
    <script src="./main.js"></script>
    <!--Import Component-->
    <script src="./components/ProductDisplay.js"></script>
  
    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
